{% extends "orders/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block main %}
<div class="container" id="cart_container">
  <div class="row  p-0 m-0" id="cart_wrapper">
    <!-- IDEA: CART -->
      <div class="col-8 scroll" id="cart">
          <header>
            <div class="cart_header text-center">
              <h1>Shopping Cart:</h1>
            </div>
          </header>

          <h3>Pizzas:</h3>
          <form id="pizzas_cart" action="" method="post" onsubmit="validate_pizza_cart()">
              {% csrf_token %}
              <!-- IDEA: PIZZA -->
              <div>
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-2">Pizza Type</th>
                            <th class="col-2">Topping Type</th>
                            <th class="col-2">Size</th>
                            <th class="col-3">Choose Toppings</th>
                            <th class="col-2">Price</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody id="pizzas_cart_body">
                        {% for pizza in pizzas_in_cart %}
                        <tr class="item_block d-flex">
                             <td id="pizza_name" class="col-2"> {{pizza.pizza_type}} </td>
                             <td id="pizza_topping_type" class="col-2">{{pizza.topping_type}}</td>
                             <td id="pizza_size" class="col-2">
                                  <select class="changing_size" name="pizza_size">
                                    {% if pizza.pizza_size == size_small %}
                                      <option value="Small" selected>Small</option>
                                      <option value="Large">Large</option>
                                    {% else %}
                                    <option value="Small">Small</option>
                                    <option value="Large" selected>Large</option>
                                    {% endif %}
                                  </select>
                             </td>
                             <td id="pizza_toppings" class="col-3">
                                  {% if pizza.topping_type == cheese_topping_type or pizza.topping_type == special_topping_type %}
                                    <select class="selectpicker toppings_select" name="pizza_toppings" multiple searchable data-max-options="0">
                                  {% elif pizza.topping_type == one_topping_topping_type %}
                                    <select class="selectpicker toppings_select" name="pizza_toppings" multiple searchable data-max-options="1">
                                  {% elif pizza.topping_type == two_topping_topping_type %}
                                    <select class="selectpicker toppings_select" name="pizza_toppings" multiple searchable data-max-options="2">
                                  {% elif pizza.topping_type == three_topping_topping_type %}
                                    <select class="selectpicker toppings_select" name="pizza_toppings" multiple searchable data-max-options="3">
                                  {% endif %}

                                      {% if pizza.topping_type == cheese_topping_type or pizza.topping_type == special_topping_type %}
                                      <option value="" disabled>No Topping</option>
                                      {% else %}
                                          {% for topping in topping_list %}
                                            {% if topping in pizza.topping.all %}
                                              <option value="{{topping.id}}" selected>{{topping.topping_name}}</option>
                                            {% else %}
                                              <option value="{{topping.id}}">{{topping.topping_name}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      {% endif %}
                                  </select>
                             </td>
                             {% if pizza.pizza_size == size_small %}
                             <td id="pizza_price" class="col-2">{{pizza.price_small}}</td> <!-- IDEA: Large or small by backend -->
                             {% else %}
                             <td id="pizza_price" class="col-2">{{pizza.price_large}}</td> <!-- IDEA: Large or small by backend -->
                             {% endif %}
                             <td id="pizza_delete" class="col-1">
                                <button type="button" class="pizza_delete_item">X</button>
                             </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
          </form>

          <hr>

          <h3>Subs:</h3>
          <form id="subs_cart" action="" method="post" onsubmit="validate_sub_cart">
              {% csrf_token %}
              <!-- IDEA: Subs -->
              <div>
                <table class="table table-striped">
                    <thead>

                        <tr class="d-flex">
                            <th class="col-4">Sub</th>
                            <th class="col-2">Size</th>
                            <th class="col-3">Sub addons</th>
                            <th class="col-2">Price</th>
                            <th class="col-1"></th>
                        </tr>

                    </thead>
                    <tbody id="subs_cart_body">
                      {% for sub in subs_in_cart %}
                      <tr class="d-flex">
                          <td class="col-4">{{sub.sub_name}}</td>
                          <td class="col-2">
                            <select class="changing_size" name="sub_size">
                              {% if sub.sub_size == size_small %}
                                <option value="Small" selected>Small</option>
                                <option value="Large">Large</option>
                              {% else %}
                              <option value="Small">Small</option>
                              <option value="Large" selected>Large</option>
                              {% endif %}
                            </select>
                          </td>
                          <td id="sub_sub_addons" class="col-3">
                               {% if sub == steak_sub %}
                                 <select class="selectpicker sub_addons_select" name="sub_addons" multiple searchable data-max-options="4">
                                {% else %}
                                <select class="selectpicker sub_addons_select" multiple searchable data-max-options="1">
                               {% endif %}
                                    <!-- IDEA: Only Steak has more options -->
                                   {% if sub == steak_sub %}
                                     {% for addon in sub_addons_list %}
                                       {% if addon in sub.sub_addon.all %}
                                         <option value="{{addon.id}}" selected>{{addon.sub_addon_name}}</option>
                                       {% else %}
                                         <option value="{{addon.id}}">{{addon.sub_addon_name}}</option>
                                       {% endif %}
                                     {% endfor %}
                                   {% else %}
                                      <option value="{{extra_cheese_sub_addon.id}}">{{extra_cheese_sub_addon.sub_addon_name}}</option>
                                   {% endif %}
                               </select>
                          </td>
                          {% if sub.sub_size == size_small %}
                            <td class="col-2">{{sub.price_small}}</td>
                          {% else %}
                            <td class="col-2">{{sub.price_large}}</td>
                          {% endif %}
                          <td class="col-1">
                            <button type="button" class="sub_delete_item">X</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
              </div>
          </form>

          <hr>

          <h3>Pastas:</h3>
          <form id="pastas_cart" action="" method="post" onsubmit="validate_pasta_cart">
              {% csrf_token %}
              <!-- IDEA: Pastas -->
              <div>
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-9">Pasta</th>
                            <th class="col-2">Price</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody id="pastas_cart_body">
                      {% for pasta in pastas_in_cart %}
                      <tr class="d-flex">
                          <td class="col-9">{{pasta.pasta_name}}</td>
                          <td class="col-2">{{pasta.price}}</td>
                          <td class="col-1">
                            <button type="button" class="pasta_delete_item">X</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
              </div>
          </form>

          <hr>

          <h3>Salads:</h3>
          <form id="salads_cart" action="" method="post" onsubmit="validate_salad_cart">
              {% csrf_token %}
              <!-- IDEA: Salads -->
              <div>
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-9">Salad</th>
                            <th class="col-2">Price</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody id="salads_cart_body">
                        {% for salad in salads_in_cart %}
                        <tr class="d-flex">
                            <td class="col-9">{{salad.salad_name}}</td>
                            <td class="col-2">{{salad.price}}</td>
                            <td class="col-1">
                              <button type="button" class="salad_delete_item">X</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
          </form>

          <hr>

          <h3>Dinner Platters:</h3>
          <form id="dinner_platters_cart" action="" method="post" onsubmit="validate_dinner_cart">
              {% csrf_token %}
              <!-- IDEA: Dinners -->
              <div>
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-4">Dinner plates</th>
                            <th class="col-2">Size</th>
                            <th class="col-3"></th>
                            <th class="col-2">Price</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody id="dinner_platters_cart_body">
                      {% for dinner in dinner_platters_in_cart %}
                      <tr class="d-flex">
                          <td class="col-4">{{dinner.plate_name}}</td>
                          <td class="col-2">
                            <select class="changing_size" name="dinner_size">
                              {% if dinner.plate_size == size_small %}
                                <option value="Small" selected>Small</option>
                                <option value="Large">Large</option>
                              {% else %}
                                <option value="Small">Small</option>
                                <option value="Large" selected>Large</option>
                              {% endif %}

                            </select>
                          </td>
                          <td class="col-3"></td>
                          {% if dinner.plate_size == size_small %}
                            <td class="col-2">{{dinner.price_small}}</td>
                          {% else %}
                            <td class="col-2">{{dinner.price_large}}</td>
                          {% endif %}

                          <td class="col-1">
                            <button type="button" class="dinner_delete_item">X</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
              </div>
          </form>

          <div class="cart_footer">
            <button type="submit" name="button" class="apply_changes">Apply Changes</button>
          </div>
      </div>

      <!-- IDEA: Summary -->
      <div class="summary col-3" id="summary">
        <header>
          <div class="summary_header text-center">
            <h1>Summary:</h1>
          </div>
        </header>
        <div class="container" id="summary_body">
          <div class="">
            Total price: {{currently_active_cart.sum_price |floatformat}}
          </div>

          <form class="checkout" action="" method="post">
            <label for="checkout">Checkout</label>
            <input type="submit" name="checkout">
          </form>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // Handling Delete Items.
      // Pizzas delettion:
      document.querySelectorAll('.pizza_delete_item').forEach(function(button, index) {
        button.onclick = () => {
            button.parentElement.parentElement.remove();  // delete item client-side (delete the <li></li>)

            // figure out the index of the deleted block:
            console.log("pizza index is " + index);

            // initialize a new request
            const request = new XMLHttpRequest();
            let url = '/cart_change/delete/pizza/';

            request.open('POST', url + index);

            // callback function for when request completes
            request.onload = () => {
                // Extract JSON data from request
                // Extract JSON data from request
                let data;
                try {
                    data = JSON.parse(request.responseText);
                } catch(e) {
                    alert("Something went wrong"); // error in the above string (in this case, yes)!
                }
                // Notify user
                if (data.deleted) {
                    alert("You've deleted a message")
                }
                else {
                    alert("There was an error.");
                }
            }

            // Add data to send with request
            let changing_size_pizza = new FormData();
            changing_size_pizza.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            request.send(changing_size_pizza);
        }
      });

      // Subs delettion:
      document.querySelectorAll('.sub_delete_item').forEach(function(button, index) {
        button.onclick = () => {
            button.parentElement.parentElement.remove();  // delete item client-side (delete the <li></li>)

            // figure out the index of the deleted block:
            console.log("sub index is " + index);

            // initialize a new request
            const request = new XMLHttpRequest();
            let url = '/cart_change/delete/sub/';

            request.open('POST', url + index);

            // callback function for when request completes
            request.onload = () => {
                // Extract JSON data from request
                // Extract JSON data from request
                let data;
                try {
                    data = JSON.parse(request.responseText);
                } catch(e) {
                    alert("Something went wrong"); // error in the above string (in this case, yes)!
                }
                // Notify user
                if (data.deleted) {
                    alert("You've deleted a message")
                }
                else {
                    alert("There was an error.");
                }
            }

            // Add data to send with request
            let changing_size_sub = new FormData();
            changing_size_sub.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            request.send(changing_size_sub);
        }
      });

      // Dinner delettion:
      document.querySelectorAll('.dinner_delete_item').forEach(function(button, index) {
        button.onclick = () => {
            button.parentElement.parentElement.remove();  // delete item client-side (delete the <li></li>)

            // figure out the index of the deleted block:
            console.log("Dinner plate index is " + index);

            // initialize a new request
            const request = new XMLHttpRequest();
            let url = '/cart_change/delete/dinner/';

            request.open('POST', url + index);

            // callback function for when request completes
            request.onload = () => {
                // Extract JSON data from request
                // Extract JSON data from request
                let data;
                try {
                    data = JSON.parse(request.responseText);
                } catch(e) {
                    alert("Something went wrong"); // error in the above string (in this case, yes)!
                }
                // Notify user
                if (data.deleted) {
                    alert("You've deleted a message")
                }
                else {
                    alert("There was an error.");
                }
            }

            // Add data to send with request
            let changing_size_dinner = new FormData();
            changing_size_dinner.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            request.send(changing_size_dinner);
        }
      });

    // Handling Changing Size.
  });
</script>
{% endblock %}
